<h1>Welcome To Instucture's mini challenge</h1>

<p>This app is very simple. The requested data output is a way to view all assignments and grades for each student, similar to a grade book layout. Another field that might be added in the future is the date of each assignment and/or date of submission. Other basic UI features would most likely include ways to edit existing grades and a way to add new assignments, students, and submissions. </p>

<h4>Optimization for this app</h4>
<p>Optimizing requires efficient thought process throughout the code. Speed often requires less dynamism, less large interations and inquiries such as find_by and while loops. To do this, set one was to set up associations properly. Please let me know if there is anything else I can do for you!</p>

<h4>Happy Path</h4>
<p> By choosing to seed this data, I am able to create a controlled testing environment since I know the input and the expected output. Since the request for this mini task was more about the thought process of optimizing the requested output , this fixed data can easily checked without full TDD; however, in pretty much every other circumstance, I would say that testing is absolutely required. </p>

<button><%=link_to "View student data", home_data_path%></button>
