<h4>Happy Path</h4>
<p>Again, since we are not writing a full program, I have chosen not to write out full RSpec tests- conscious decision since the request was for app optimization; thus I used simple speed testing such as Benchmark. </p>
<p>That being said, since the data is fixed, if all went to well: <br>
  Tommmmmmmmy's grade for Ruby should be an 93 which I can see below is true. <br>
  Bobbbbbbbby's grade for productize web-enabled e-business should be a 73, again true.</p>
<p> Our happy path has a known outcome that should execute without exception. </p>

<h1>Grading Grid</h1>

<table>
  <thead><tr>
    <th>Student Name</th>
    <%@assignments.each do |assign|%>
      <th><%=assign.name%></th>
    <%end%>
  </tr></thead>

  <tbody>
    <%@students.each do |student|%>
      <tr>
      <td><%=student.name%></td>
        <%student.assignments.each do |assign|%>
          <td><%=student.submissions.find {|s| s.assignment_id == assign.id}.try(:grade)%></td>
        <%end%>
      </tr>
    <%end%>
</tbody>
</table>
